@use "../../../utils/styles/vars";
@use "sass:color";

.btn {
  background-color: vars.$blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  padding: 2px 0px;
  border-radius: 15px;
  height: 28px;

  position: relative;

  overflow: hidden;

  // transition: all 150ms linear;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    transition: all 150ms linear;

    border-radius: inherit;

    background-color: color.adjust(vars.$blue, $lightness: -15%);

    height: 28px;
    width: 0%;
  }

  &:hover:before {
    width: 100%;
  }
}

.img {
  height: 24px;
  width: 24px;

  z-index: 10;
}
