@use "../../../utils/styles/vars";
@use "sass:color";

.btn {
  background-color: vars.$blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  padding: 2px 0px;
  border-radius: 15px;
  height: 28px;

  transition: all 150ms linear;

  &:hover {
    background-color: color.adjust(vars.$blue, $lightness: -15%);
  }
}

.img {
  height: 24px;
  width: 24px;
}
